<% title 'Welcome' %>

<div class="jumbotron">
  <p>
    <em>Memento</em> allows you to bookmark interesting links and read the RSS feeds of your favorite
    websites.
  </p>

  <p>
    Using <a href="https://github.com/RoxasShadow/memento" target="_blank">Memento</a> is definitely simple:<br>
    All you need is just <%= link_to 'sign up', new_user_registration_path %> and enjoy adding your links in a very minimalistic form.
  </p>
</div>