<% title 'Your links' %>

<% content_for :head do %>
  <%= javascript_include_tag 'links_index', 'data-turbolinks-track' => true %>
<% end %>

<% if @links.any? %>
  <%= render 'modal' %>
  <%= render 'feeds' %>
  
  <div class="panel-group" id="feeds"></div>
<% else %>
  <%= image_tag 'nothing.gif' %>
<% end %>