<% title @link.title %>

<% content_for :head do %>
  <%= javascript_include_tag 'links_show', 'data-turbolinks-track' => true %>
<% end %>

<% unless @link.description.strip.empty? %>
  <%= render 'feed' %>
<% end %>

<br>

<div id="feeds"></div>