<% title @link.title %>

<% content_for :head do %>
  <%= javascript_include_tag 'feeds' %>
<% end %>

<% unless @link.description.strip.empty? %>
  <p>
    <strong>Description:</strong>
    <%= @link.description %>
  </p>
<% end %>

<br>
<div id="feeds"></div>