<% title @link.title %>
<%= javascript_include_tag 'feeds' %>

<% unless @link.description.strip.empty? %>
  <p>
    <strong>Description:</strong>
    <%= @link.description %>
  </p>
<% end %>

<div id="feeds"></div>