a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  padding-top: 50px;
}

.main-contents {
  padding   : 40px 15px;
  text-align: center;
  color     : #eee;
}

.feedThumb {
  display: inline-block;
  float  : left;
}

.panel-default li.list-group-item, .panel-default .panel-body {
  background-color: #ddd;
  border-color    : #d6d6d6;
  color           : #333;
}

.panel-default .panel-heading {
  background-color: #D3D3D3;
}

.panel-sized {
  height          : 300px;
  overflow        : hidden;
  background-color: #ddd;
}

.collapse-btn {
  float: right;
}