a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  padding-top: 50px;
}

.main-contents {
  padding   : 40px 15px;
  text-align: center;
  color     : #eee;
}

.feed {
  padding-bottom: 20px;
}

.feedThumb {
  display: inline-block;
  float  : left;
}

.panel-default li.list-group-item, .panel-default .panel-body {
  background-color: #ddd;
  border-color    : #d6d6d6;
  color           : #333;
}

.panel-default .panel-heading {
  background-color: #d3d3d3;
  height          : 50px;
}

.panel-small {
  height          : 300px;
  overflow        : hidden;
  background-color: #ddd;
}

.panel-wide {
  height          : 100%;
  overflow        : auto;
  background-color: #ddd;
}

.collapse-btn {
  float: right;
}

#feedList {
  background-color: #d3d3d3;
  list-style-type : none;
  cursor          : move;
}

#feedList span.glyphicon {
  cursor: default;
}

.ui-state-highlight {
  border    : 1px solid #fcefa1;
  background: #fbf9ee image-url("highlight.png") 50% 50% repeat-x;
  height    : 40px;
}