a.navbar-brand {
  cursor: default;
}

body {
  background-image: image-url("bg.png");
  color           : #eee;
}

.form-control, .btn {
  background-color: #ddd;
  color           : #333;
}

#recaptcha {
  margin        : 0 auto;
  width         : 310px;
  padding-bottom: 10px;
}